function Space.new 0
    push constant 9
    call Memory.alloc 1
    pop pointer 0
    push constant 0
    pop this 0
    push constant 0
    pop this 2
    push constant 0
    pop this 4
    push argument 0
    pop this 5
    push argument 1
    pop this 6
    push constant 0
    pop this 1
    push constant 0
    pop this 3
    push pointer 0
    return
function Space.toggleFlag 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 1
    eq
    not
    if-goto L1
    push constant 0
    pop this 1
    goto L0
label L1
    push constant 1
    pop this 1
label L0
    push constant 0
    return
function Space.getNumNeighbors 0
    push argument 0
    pop pointer 0
    push this 4
    return
function Space.addNeighbor 1
    push argument 0
    pop pointer 0
    push this 8
    push constant 0
    eq
    not
    if-goto L3
    push argument 1
    push constant 0
    call List.new 2
    pop this 8
    goto L2
label L3
    push argument 1
    push this 8
    call List.new 2
    pop this 8
label L2
    push argument 1
    call Space.getBomb 1
    push constant 1
    eq
    not
    if-goto L5
    push this 4
    push constant 1
    add
    pop this 4
    goto L4
label L5
label L4
    push constant 0
    return
function Space.toString 0
    push argument 0
    pop pointer 0
    push constant 2
    call String.new 1
    push constant 88
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 5
    call Output.printInt 1
    pop temp 0
    push constant 2
    call String.new 1
    push constant 89
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 6
    call Output.printInt 1
    pop temp 0
    push constant 0
    return
function Space.plantBomb 0
    push argument 0
    pop pointer 0
    push constant 1
    pop this 0
    push constant 0
    return
function Space.getUncovered 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Space.getSelected 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Space.getNeighbors 0
    push argument 0
    pop pointer 0
    push this 4
    return
function Space.getX 0
    push argument 0
    pop pointer 0
    push this 5
    return
function Space.getY 0
    push argument 0
    pop pointer 0
    push this 6
    return
function Space.getBomb 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Space.unCover 0
    push argument 0
    pop pointer 0
    push constant 1
    pop this 2
    push this 4
    push constant 0
    eq
    not
    if-goto L7
    push pointer 0
    push this 8
    call Space.revealNeighbors 2
    pop temp 0
    goto L6
label L7
label L6
    push pointer 0
    call Space.draw 1
    pop temp 0
    push constant 0
    return
function Space.toggleSelected 0
    push argument 0
    pop pointer 0
    push this 3
    push constant 1
    eq
    not
    if-goto L9
    push constant 0
    pop this 3
    goto L8
label L9
    push constant 1
    pop this 3
label L8
    push constant 0
    return
function Space.draw 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Space.chooseSprite 1
    pop temp 0
    push constant 0
    return
function Space.chooseSprite 1
    push argument 0
    pop pointer 0
    push this 6
    push constant 1
    add
    push constant 32
    push constant 16
    call Math.multiply 2
    call Math.multiply 2
    push this 5
    add
    pop local 0
    push this 2
    push constant 1
    eq
    not
    if-goto L11
    push this 0
    push constant 1
    eq
    not
    if-goto L13
    push local 0
    call Sprites.drawBomb 1
    pop temp 0
    goto L12
label L13
    push this 3
    push constant 1
    eq
    not
    if-goto L15
    push this 4
    push constant 0
    eq
    not
    if-goto L17
    push local 0
    call Sprites.selectedZero 1
    pop temp 0
    goto L16
label L17
label L16
    push this 4
    push constant 1
    eq
    not
    if-goto L19
    push local 0
    call Sprites.selectedOne 1
    pop temp 0
    goto L18
label L19
label L18
    push this 4
    push constant 2
    eq
    not
    if-goto L21
    push local 0
    call Sprites.selectedTwo 1
    pop temp 0
    goto L20
label L21
label L20
    push this 4
    push constant 3
    eq
    not
    if-goto L23
    push local 0
    call Sprites.selectedThree 1
    pop temp 0
    goto L22
label L23
label L22
    push this 4
    push constant 4
    eq
    not
    if-goto L25
    push local 0
    call Sprites.selectedFour 1
    pop temp 0
    goto L24
label L25
label L24
    push this 4
    push constant 5
    eq
    not
    if-goto L27
    push local 0
    call Sprites.selectedFive 1
    pop temp 0
    goto L26
label L27
label L26
    push this 4
    push constant 6
    eq
    not
    if-goto L29
    push local 0
    call Sprites.selectedSix 1
    pop temp 0
    goto L28
label L29
label L28
    push this 4
    push constant 7
    eq
    not
    if-goto L31
    push local 0
    call Sprites.selectedSeven 1
    pop temp 0
    goto L30
label L31
label L30
    push this 4
    push constant 8
    eq
    not
    if-goto L33
    push local 0
    call Sprites.selectedEight 1
    pop temp 0
    goto L32
label L33
label L32
    goto L14
label L15
    push this 4
    push constant 0
    eq
    not
    if-goto L35
    push local 0
    call Sprites.drawZero 1
    pop temp 0
    goto L34
label L35
label L34
    push this 4
    push constant 1
    eq
    not
    if-goto L37
    push local 0
    call Sprites.drawOne 1
    pop temp 0
    goto L36
label L37
label L36
    push this 4
    push constant 2
    eq
    not
    if-goto L39
    push local 0
    call Sprites.drawTwo 1
    pop temp 0
    goto L38
label L39
label L38
    push this 4
    push constant 3
    eq
    not
    if-goto L41
    push local 0
    call Sprites.drawThree 1
    pop temp 0
    goto L40
label L41
label L40
    push this 4
    push constant 4
    eq
    not
    if-goto L43
    push local 0
    call Sprites.drawFour 1
    pop temp 0
    goto L42
label L43
label L42
    push this 4
    push constant 5
    eq
    not
    if-goto L45
    push local 0
    call Sprites.drawFive 1
    pop temp 0
    goto L44
label L45
label L44
    push this 4
    push constant 6
    eq
    not
    if-goto L47
    push local 0
    call Sprites.drawSix 1
    pop temp 0
    goto L46
label L47
label L46
    push this 4
    push constant 7
    eq
    not
    if-goto L49
    push local 0
    call Sprites.drawSeven 1
    pop temp 0
    goto L48
label L49
label L48
    push this 4
    push constant 8
    eq
    not
    if-goto L51
    push local 0
    call Sprites.drawEight 1
    pop temp 0
    goto L50
label L51
label L50
label L14
label L12
    goto L10
label L11
    push this 3
    push constant 1
    eq
    not
    if-goto L53
    push this 1
    push constant 1
    eq
    not
    if-goto L55
    push local 0
    call Sprites.SelectedFlag 1
    pop temp 0
    goto L54
label L55
    push local 0
    call Sprites.drawSelected 1
    pop temp 0
label L54
    goto L52
label L53
    push this 1
    push constant 1
    eq
    not
    if-goto L57
    push local 0
    call Sprites.drawFlag 1
    pop temp 0
    goto L56
label L57
    push local 0
    call Sprites.drawUnselected 1
    pop temp 0
label L56
label L52
label L10
    push constant 0
    return
function Space.revealNeighbors 2
    push argument 0
    pop pointer 0
    push argument 1
    pop local 0
label L58
    push local 0
    push constant 0
    eq
    not
    not
    if-goto L59
    push local 0
    call List.getData 1
    pop local 1
    push local 1
    call Space.getBomb 1
    push constant 0
    eq
    push local 1
    call Space.getUncovered 1
    push constant 0
    eq
    and
    not
    if-goto L61
    push local 1
    call Space.unCover 1
    pop temp 0
    goto L60
label L61
label L60
    push local 0
    call List.getNext 1
    pop local 0
    goto L58
label L59
    push constant 0
    return
function Space.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return