function Sprites.drawUnselected 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawSelected 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawBomb 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 17745
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 18889
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 18889
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 26611
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 21477
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 22517
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 25571
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 17873
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 22541
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawZero 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedZero 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedOne 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 31805
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 31773
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 31773
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawOne 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 16865
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16881
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16881
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawTwo 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 23577
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 24065
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 20225
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 17281
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16609
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16497
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 24569
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24569
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedTwo 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 18381
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 17405
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 25085
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 30973
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 32317
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32541
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16397
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16397
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawThree 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 19457
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 20417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18369
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 19969
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 19457
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedThree 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 26621
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 24701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28797
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 25597
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26621
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawFour 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18305
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 18369
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 18145
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 18033
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 17977
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18425
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 18425
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 18177
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 18177
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 18177
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18177
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedFour 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28925
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 28797
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 29245
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 29469
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 29581
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28685
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 28685
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 29181
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 29181
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 29181
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 29181
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedFive 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 32717
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 32717
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28685
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 26621
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26621
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawFive 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16409
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16409
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 18425
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 19457
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 19457
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawSix 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16409
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18425
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedSix 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 32717
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28685
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawSeven 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 20477
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20477
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 19981
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 20225
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 18305
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 17345
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16833
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16609
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16609
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 16609
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16609
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedSeven 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 24581
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24581
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 25573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 25085
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28925
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 30845
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 31869
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 32317
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32317
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 32317
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 32317
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawEight 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 20025
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 19481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 20473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 18417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.selectedEight 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 25485
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 26573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24589
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 28701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawFlag 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 16545
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16673
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16929
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 17441
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 16929
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16673
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16545
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 16417
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16889
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16385
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.SelectedFlag 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 32573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 32445
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 32189
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 31677
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 30653
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 31677
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 32189
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 32445
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32573
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 32701
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 31757
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32765
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Sprites.drawGameOver 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 2044
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 3102
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 16377
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 8185
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 24583
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 26503
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 26126
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 26126
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26140
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 6152
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 14368
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 508
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 1022
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 1543
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 1539
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 1539
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 1539
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 13827
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 13827
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 13831
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 18930
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 3314
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 29692
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 29176
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 12608
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 17
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 17521
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 26228
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 26228
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 26228
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 26228
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 26228
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 26145
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 26405
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 23616
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 6164
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 6538
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 26611
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 24625
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 24672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 26592
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 25472
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 66
    add
    push constant 504
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 98
    add
    push constant 509
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 130
    add
    push constant 397
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 162
    add
    push constant 397
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 194
    add
    push constant 509
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 226
    add
    push constant 13
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 258
    add
    push constant 13
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 290
    add
    push constant 13
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 322
    add
    push constant 397
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 354
    add
    push constant 253
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 386
    add
    push constant 121
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 450
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 482
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 514
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 546
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 578
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 610
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 642
    add
    push constant 399
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 674
    add
    push constant 415
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 706
    add
    push constant 408
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 738
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 770
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 834
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 866
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push constant 0
    return