function Utils.getLoc 0
    push argument 1
    push constant 32
    push constant 16
    call Math.multiply 2
    call Math.multiply 2
    push argument 0
    add
    return
function Utils.getSpaceAt 1
    push argument 2
    push argument 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 1
    push local 0
    add
    pop pointer 1
    push that 0
    return
function Utils.numToXY 1
    push constant 2
    call Array.new 1
    pop local 0
    push argument 0
    push constant 10
    lt
    not
    if-goto L1
    push constant 0
    push local 0
    add
    push argument 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto L0
label L1
    push constant 0
    push local 0
    add
    push argument 0
    push constant 10
    call MoreMath.divide 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push argument 0
    push constant 10
    call MoreMath.mod 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
label L0
    push local 0
    return